.container {
  max-width: $container-lg;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

section {
  margin-top: 6rem;

  & > h2 {
    text-align: center;
  }

  & > p {
    text-align: center;
    width: 42%;
    margin: 0.6rem auto 2.5rem;
  }
}

.btn {
  @include button();
}

.btn__primary {
  @include button($primary-color, $primary-variant);
}

/* =============== MEDIA QUERIES (MEDIUM dEVICES) =============*/

@media screen and (max-width: 1024px) {
  .container {
    max-width: $container-sm;
  }
  section {
    & > p {
      width: 58%;
    }
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============*/

@media screen and (max-width: 600px) {
  section {
    & > p {
      width: $container-sm;
    }
  }
}
